<h2>Product list</h2>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Quantity</th>
            <th scope="col">Buy</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let product of products" [ngClass]="{'clearance': product.clearance}">
            <td>
                <img height="100" width="100" [src]="product.image" [alt]="product.name">
            </td>
            <td>{{product.name}}</td>
            <td>{{product.type}}</td>
            <td>{{product.price | currency}}</td>
            <td><span class="badge badge-warning" *ngIf="product.stock==0">OUT OF STOCK</span></td>
            <td>
                <!-- los input son corchetes [ ], input y outputs son [( )]-->
                <app-input-integer [(quantity)]="product.quantity" [max]="product.stock" *ngIf="product.stock" (maxReached)="maxReached($event)"></app-input-integer>
            </td>
            <td>
                <button class="btn btn-primary" (click)="addToCart(product)">Buy</button>
            </td>
        </tr>
    </tbody>
</table>