<p>Lista de productos</p>
<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Quantity</th>
            <th>Buy</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let product of products" [ngClass]="{'clearance': product.clearance}">
            <td>
                <img height="100" width="200" [src]="product.image" [alt]="product.name">
            </td>
            <td>{{product.name}}</td>
            <td>{{product.type}}</td>
            <td>{{product.price | currency}}</td>
            <td><span class="badge badge-warning" *ngIf="product.stock==0">OUT OF STOCK</span></td>
            <td>
                <!-- los input son corchetes [ ], input y outputs son [( )]-->
                <app-input-integer [(quantity)]="product.quantity" [max]="product.stock" *ngIf="product.stock" (maxReached)="maxReached($event)"></app-input-integer>
            </td>
            <td>
                <button class="btn btn-primary" (click)="addToCart(product)">Buy</button>
            </td>
        </tr>
    </tbody>
</table>